---
layout: default
---
<header class="post-header">
  <h1 class="post-title">my running blog</h1>
  <h5 class="post-description">something about my running passion</h5>
</header>

<h3>Short Story</h3>
I cultivate the passion of running since I was 13, inherited from my dad. While I never was a strong runner during my adolescence, I found my (still modest) dimension in the marathon. I managed to conclude my first marathon, at the age of 22, finishing second in Pisa with a time of 2:20:44. From there on, I never stopped to compete in the distance. In more than the last 10 year I have been coached by Luciano Di Pardo, a (strong) former steeplechase runner. I run for two teams: Nuova Atletica Isernia in Italy, and TV Oerlikon in Switzerland. 

<h3>Personal Best</h3>

<table>
  <tr>
    <td>10.000mt</td>
    <td>30:21.5</td>
    <td>Isernia</td>
    <td>15.09.13</td>
  </tr>
  <tr>
    <td>Half Marathon</td>
    <td>1:04:53</td>
    <td>Barcelona</td>
    <td>10.02.19</td>
  </tr>
  <tr>
    <td>Marathon</td>
    <td>2:17:24</td>
    <td>Hamburg</td>
    <td>26.04.15</td>
  </tr>
</table>

<ul class="post-list">
  {% for post in site.posts %}
  {% if post.running == 'running' %}
    <li>
        <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <p>{{ post.description }}</p>
      </li>
  {% endif %}
  {% endfor %}
</ul>

